h1 {
    background-color: #9f4636;
    border-bottom: 5px #8a3c2e outset;
    border-right: 5px #8a3c2e outset;
    color: #f1dcc9;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}

.list {
    background-color: #9f4636;
    border-bottom: 5px #42313a outset;
    border-right: 5px #42313a outset;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.list a {
    margin: 40px;
    padding: 20px;
    padding-bottom: 21px;
    text-decoration: none;
    color: #f1dcc9;
}
.list a:nth-child(1) {
    background-color: #722e22;
    border-radius: 10px;
}
.list a:hover {
    background-color: #cf543e;
    border-radius: 15px;
}

.list a:active {
    background-color: #722e22;
    border-radius: 10px;
}

.main {
    border-radius: 10px;
    border: 1px solid;
    background-color: #f1dcc9;
    width: 20%;
    height: auto;
    float: left;
    color: #6c2d2c;
    margin-right: 10px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.main h2 {
    font-size: 30px;
    padding-left: 20px;
}

.main ul li {
    text-decoration: none;
    font-size: 22px;
    padding: 20px;
}

.main a {
    text-decoration: none;
    color: #6c2d2c;
    padding: 15px;
}
.main a.menu2 {
    background-color: #6c2d2c;
    border-radius: 15px;
    color: #f1dcc9;
    box-shadow: 3px 3px 1px grey;
}
.main a:hover {
    background-color: #6c2d2c;
    border-radius: 15px;
    color: #f1dcc9;
    box-shadow: 3px 3px 1px grey;
}

.main a:active {
    background-color: #a24544;
    color: #f1dcc9;
    border-radius: 10px;
}

.blog {
    border: 1px solid;
    border-radius: 10px;
    background-color: #f1dcc9;
    min-height: 700px;
    margin-left: 21%;
    font-family: 'Times New Roman', Times, serif;
}

.blog h2 {
    font-size: 32px;
    padding-left: 20px;
    color: #c62321;
}

.blog p {
    text-decoration: none;
    color: #6c2d2c;
    font-size: 20px;
    margin-left: 3%;
}
img {
    position: relative;
    bottom: 10px;
    left: 10%;
    width: 80%;
    border-radius: 5px;
}
h3 {
    font-size: 30px;
    color: #6c2d2c;
    padding-top: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#footer {
    background-color: #9f4636;
    color: #f1dcc9;
    text-shadow: 3px 3px 0px black;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 5px #42313a outset;
    border-right: 5px #42313a outset;
    border-radius: 15px;
    padding: 20px;
    clear: both;
}